<section class="result-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="iphone">
          <%= image_tag 'iphone.png', class: 'img-responsive'%>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 30%">製造地點</th>
              <th>生產時間</th>
              <th>召修方案</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @location %>
              </td>
              <td>
                <%= @day_begin %>～<%= @day_end%>
              </td>
              <td>
                <% if @bingo %>
                <a href="https://www.apple.com/tw/support/iphone6s-unexpectedshutdown/">符合Iphone6s電池召修方案</a>
                <% else %>
                無符合召修方案
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= link_to '繼續查詢', root_path, class: 'btn btn-primary pull-right' %>
      </div>
    </div>
  </div>
  <br>
</section>
