<!DOCTYPE html>
<html>
  <head>
    <title>IphoneCheckMfg</title>
    <meta property="og:image" content='http://cdn.iguang.co/53acb8b9/i/7a7ZXyG.jpg'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'common/footer'%>
  </body>
</html>
