<!DOCTYPE html>
<html>
  <head>
    <title>IphoneCheckMfg</title>
    <meta property="og:title" content='Iphone生產日期及產地檢查器'/>
    <meta property="og:image" content='http://i.imgur.com/VtMZWvB.png'/>
    <meta property="og:description" content="檢查你的Iphone6S是否符合電池更換計畫"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'common/footer'%>
  </body>
</html>
